Django>=5.0,<6.0
djangorestframework>=3.14
psycopg2-binary>=2.9
python-dotenv>=1.0
django-q2>=1.6.0
django-cors-headers>=4.0
django-filter>=23.0
djangorestframework-simplejwt>=5.3
django-allauth>=0.61.1
dj-rest-auth>=5.0.0
requests>=2.31.0
cryptography>=41.0.0
django-axes>=6.0.0
Pillow>=12.1.1
gunicorn>=22.0.0
